@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (min-width: 1024px) {
  .bg-hero {
    width: 2000px;
    height: 300px;
    left: 30%;
    position: absolute;
    border-radius: 9999px 0 0 9999px;
    top: 13rem;
    background-color: #9fc597;
  }

  .bg-tabs {
    width: 2000px;
    height: 300px;
    right: 60%;
    position: absolute;
    border-radius: 0 9999px 9999px 0;
    top: 15rem;
    background-color: #9fc597;
  }
}
